<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/> 				<!-- 빈칸이 들어가면 빈칸이 아닌 NULL로 인식하라는 셋팅 -->
	</settings>

	<typeAliases>
		<typeAlias type="com.kh.soboroo.notice.model.vo.Notice" alias="Notice"/>
		<typeAlias type="com.kh.soboroo.board.model.vo.Board" alias="Board"/>
		<typeAlias type="com.kh.soboroo.admin.model.vo.Admin" alias="Admin"/>
	</typeAliases>
	
	
	<mappers>
		<mapper resource="/mappers/notice-mapper.xml"/>
		<mapper resource="/mappers/board-mapper.xml"/>  
		<mapper resource="/mappers/admin-mapper.xml"/>  
	</mappers> 
	<!-- 유의사항 :  미리 등록해두려면 해당 mapper 파일이 진짜 존재하고 있는 상태여야함! 뿐만 아니라 namespace 등록까지 지정돼있어야함(namespace값 중복 불가) -->
	

</configuration>
