<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "mybatis-3-mapper.dtd" >
 <mapper namespace="memberMapper">
	<resultMap id="memberResultSet" type="Member">
		<result column="MEM_NO" property="memNo"/>
		<result column="KAKAO_ID" property="KakaoId"/>
		<result column="MEM_EMAIL" property="memEmail"/>
		<result column="MEM_GENDER" property="memGender"/>
		<result column="MEM_BIRTH" property="memBirth"/>
		<result column="MEM_PHONE" property="memPhone"/>
		<result column="MEM_NAME" property="memName"/>
		<result column="MEM_STATUS" property="memStatus"/>
		<result column="MEM_NICKNAME" property="memNickname"/>
		<result column="MEM_INTRODUCE" property="memIntroduce"/>
		<result column="MEM_RPR_COUNT" property="memRprCount"/>
		<result column="MEM_IMG" property="memImg"/>
		<result column="MEM_ADULT_NY" property="memAdultNY"/>
	</resultMap>
	
	<select id="checkConnection" resultType="_int">
		select
				count(*)
		  from member
		 where kakao_id = #{id}
	</select>
	
	<insert id="insertMember">
		insert
		  into member
		     (
		       mem_no
		     , kakao_id  
		     , mem_email
		     , mem_gender
		     , mem_birth
		     , mem_phone
		     , mem_name
		     , mem_nickname
		     , mem_introduce
		     , mem_img
		     , mem_adult_ny
		     )
	    values
	         (
	           SEQ_MEM_NO.NEXTVAL
	         , #{kakaoId}
	         , #{memEmail}
	         , #{memGender}
	         , #{memBirth}
	         , #{memPhone}
	         , #{memName}
	         , #{memNickname}
	         , #{memIntroduce}
	         , #{memImg}
	         , #{memAdultNY}
	        )
	</insert>
	
	<select id="loginMember" resultMap="memberResultSet">
		select
		       mem_no
		     , mem_email
		     , mem_gender
		     , mem_birth
		     , mem_phone
		     , mem_name
		     , mem_status
		     , mem_nickname
		     , mem_introduce
		     , mem_rpr_count
		     , mem_img
		     , mem_adult_ny
		  from member
		 where kakao_id = #{id}
	</select>  
	
	<select id="idCheck" resultType="_int">
		select
		       count(*) as "count"
		  from test_member
		 where kakao_id = #{id}
	</select>
	<update id="updateIntro">
		update
				member
		    set mem_introduce = #{memIntroduce}
		  where mem_no = #{memNo}     		
	</update>  
	<select id="checkNick" resultType="_int">
		select
				count(*)
		  from member
		 where mem_nickname = #{checkNick} 	
	</select>
	<update id="updateNick">
		update
			   member
		   set mem_nickname = #{memNickname}
		 where mem_no = #{memNo}   	   
	</update>
	<update id="deleteMember">
		update member
		   set mem_status = 4
		 where mem_no = #{memNo}   
	</update>
	<select id="findNickname" resultType="String">
		select mem_nickname
		  from member
		 where mem_no=#{memNo} 
	
	</select>
</mapper>