<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="myPageMapper">

<resultMap type="MyPage" id="myPageResultSet">
	<result column = "count" property="count"/>
	<result column = "del_ny" property="delNy"/>
	<result column = "mem_no" property="memNo"/>
	<result column = "no" property="no"/>
	<result column = "title" property="title"/>
	<result column = "date" property="date"/>
	<result column = "enroll_date" property="enrollDate"/>
	<result column = "table_no" property="tableNo"/>
</resultMap>

<resultMap type="EntryList" id="entryListResultSet">
	<result column="group_no" property="no"/>
	<result column="group_title" property="title"/>
	<result column="entry_id" property="entryId"/>
	<result column="wait_ny" property="waitNy"/>
	<result column="entry_date" property="date"/>
	<result column="mem_no" property="memNo"/>
	<result column="table_no" property="tableNo"/>
</resultMap>

	<select id="selectGroupBoardListCount" resultType="_int">
		SELECT SUM(cnt)
		FROM (
		    SELECT COUNT(*) AS cnt FROM ONLINE_GROUP_ONCE WHERE DEL_NY='N' AND REP_NY='N' AND MEM_NO=#{memNo}
		    UNION ALL
		    SELECT COUNT(*) AS cnt FROM ONLINE_GROUP_REGULAR WHERE DEL_NY='N' AND REP_NY='N' AND MEM_NO=#{memNo}
		    UNION ALL
		    SELECT COUNT(*) AS cnt FROM ONLINE_CHALLENGE_D_DAY WHERE DEL_NY='N' AND REP_NY='N' AND MEM_NO=#{memNo}
		    UNION ALL
		    SELECT COUNT(*) AS cnt FROM ONLINE_CHALLENGE_REGULAR WHERE DEL_NY='N' AND REP_NY='N' AND MEM_NO=#{memNo}
		    UNION ALL
		    SELECT COUNT(*) AS cnt FROM OFFLINE_GROUP_ONCE WHERE DEL_NY='N' AND REP_NY='N' AND MEM_NO=#{memNo}
		    UNION ALL
		    SELECT COUNT(*) AS cnt FROM OFFLINE_GROUP_REGULAR WHERE DEL_NY='N' AND REP_NY='N' AND MEM_NO=#{memNo}
		    UNION ALL
		    SELECT COUNT(*) AS cnt FROM OFFLINE_CHALLENGE_D_DAY WHERE DEL_NY='N' AND REP_NY='N' AND MEM_NO=#{memNo}
		    UNION ALL
		    SELECT COUNT(*) AS cnt FROM OFFLINE_CHALLENGE_REGULAR WHERE DEL_NY='N' AND REP_NY='N' AND MEM_NO=#{memNo}
		)

	</select>

	<select id="testTable"  resultMap="myPageResultSet">
	SELECT * FROM (
	  SELECT "no", "title", enroll_date, table_no FROM (
	    SELECT OFF_CHALLENGE_D_NO as "no", OFF_CHALLENGE_D_TITLE as "title", enroll_date, TABLE_NO
	    FROM OFFLINE_CHALLENGE_D_DAY
	    WHERE del_ny = 'N' AND REP_NY='N' AND mem_no = #{memNo}
	    UNION
	    SELECT OFF_CHALLENGE_REG_NO as "no", OFF_CHALLENGE_REG_TITLE as "title", enroll_date, TABLE_NO
	    FROM OFFLINE_CHALLENGE_REGULAR
	    WHERE del_ny = 'N' AND REP_NY='N' AND mem_no = #{memNo}
	    UNION
	    SELECT OFF_GROUP_ONCE_NO as "no", OFF_GROUP_ONCE_TITLE as "title", enroll_date, TABLE_NO
	    FROM OFFLINE_GROUP_ONCE
	    WHERE del_ny = 'N' AND REP_NY='N' AND mem_no = #{memNo}
	    UNION
	    SELECT OFF_GROUP_REG_NO as "no", OFF_GROUP_REG_TITLE as "title", enroll_date, TABLE_NO
	    FROM OFFLINE_GROUP_REGULAR
	    WHERE del_ny = 'N' AND REP_NY='N' AND mem_no = #{memNo}
	    UNION
	    SELECT ON_CHALLENGE_D_NO as "no", ON_CHALLENGE_D_TITLE as "title", enroll_date, TABLE_NO
	    FROM online_challenge_D_DAY
	    WHERE del_ny = 'N' AND REP_NY='N' AND mem_no = #{memNo}
	    UNION
	    SELECT ON_CHALLENGE_REG_NO as "no", ON_CHALLENGE_REG_TITLE as "title", enroll_date, TABLE_NO
	    FROM online_challenge_regular
	    WHERE del_ny = 'N' AND REP_NY='N' AND mem_no = #{memNo}
	    UNION
	    SELECT ON_GROUP_ONCE_NO as "no", ON_GROUP_ONCE_TITLE as "title", enroll_date, TABLE_NO
	    FROM online_group_once
	    WHERE del_ny = 'N' AND REP_NY='N' AND mem_no = #{memNo}
	    UNION
	    SELECT ON_GROUP_REG_NO as "no", ON_GROUP_REG_TITLE as "title", enroll_date, TABLE_NO
	    FROM online_group_regular
	    WHERE del_ny = 'N' AND REP_NY='N' AND mem_no = #{memNo}
	  )
	   ORDER BY enroll_date desc
)
	
	</select>
	
	<select id="selectMyGroupListCount" resultType="_int">
		 select count(*) from entry_list where mem_no = #{memNo}
	</select>
	
	<select id="selectMyGroupList" resultMap="entryListResultSet">
	select group_no, group_title, entry_date
        from entry_list
        where mem_no = #{memNo}
          and wait_ny='N'
     </select>
     
     <select id="selectMySchedule" resultMap="myPageResultSet">
SELECT * FROM (
  SELECT "no", "title", "date" FROM (
    SELECT OFF_CHALLENGE_D_NO as "no", OFF_CHALLENGE_D_TITLE as "title", OFF_CHALLENGE_D_Date as "date"
    FROM OFFLINE_CHALLENGE_D_DAY
    WHERE del_ny = 'N' AND REP_NY='N' AND mem_no = #{memNo}
    UNION
    SELECT OFF_CHALLENGE_REG_NO as "no", OFF_CHALLENGE_REG_TITLE as "title", OFF_CHALLENGE_REG_Date as "date"
    FROM OFFLINE_CHALLENGE_REGULAR
    WHERE del_ny = 'N' AND REP_NY='N' AND mem_no = #{memNo}
    UNION
    SELECT OFF_GROUP_ONCE_NO as "no", OFF_GROUP_ONCE_TITLE as "title", OFF_GROUP_ONCE_Date as "date"
    FROM OFFLINE_GROUP_ONCE
    WHERE del_ny = 'N' AND REP_NY='N' AND mem_no = #{memNo}
    UNION
    SELECT OFF_GROUP_REG_NO as "no", OFF_GROUP_REG_TITLE as "title",  OFF_GROUP_REG_Date as "date"
    FROM OFFLINE_GROUP_REGULAR
    WHERE del_ny = 'N' AND REP_NY='N' AND mem_no = #{memNo}
    UNION
    SELECT ON_CHALLENGE_D_NO as "no", ON_CHALLENGE_D_TITLE as "title", ON_CHALLENGE_D_Date as "date"
    FROM online_challenge_D_DAY
    WHERE del_ny = 'N' AND REP_NY='N' AND mem_no = #{memNo}
    UNION
    SELECT ON_CHALLENGE_REG_NO as "no", ON_CHALLENGE_REG_TITLE as "title",ON_CHALLENGE_REG_Date as "date"
    FROM online_challenge_regular
    WHERE del_ny = 'N' AND REP_NY='N' AND mem_no = #{memNo}
    UNION
    SELECT ON_GROUP_ONCE_NO as "no", ON_GROUP_ONCE_TITLE as "title", ON_GROUP_ONCE_Date as "date"
    FROM online_group_once
    WHERE del_ny = 'N' AND REP_NY='N' AND mem_no = #{memNo}
    UNION
    SELECT ON_GROUP_REG_NO as "no", ON_GROUP_REG_TITLE as "title", ON_GROUP_REG_Date as "date"
    FROM online_group_regular
    WHERE del_ny = 'N' AND REP_NY='N' AND mem_no = #{memNo}
  )
) ORDER BY "date" DESC

     </select>
</mapper>