<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "mybatis-3-mapper.dtd" >
 <mapper namespace="onlineMapper">
	<resultMap id="onlineGroupOnceResultSet" type="OnlineGroupOnce">
		<result column="NO" property="no"/>
		<result column="TITLE" property="title"/>
		<result column="ID" property="id"/>
		<result column="NAME" property="name"/>
		<result column="EMAIL" property="email"/>
		<result column="PHONE" property="phone"/>
		<result column="SIMPLE" property="simple"/>
		<result column="ENROLL_DATE" property="enrollDate"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
		<result column="START_DATE" property="startDate"/>
		<result column="END_DATE" property="endDate"/>
		<result column="START_ENTER" property="startEnter"/>
		<result column="END_ENTER" property="endEnter"/>
		<result column="CONTENT" property="content"/>
		<result column="ADDRESS" property="address"/>
		<result column="ADDRESS_DETAIL" property="addressDetail"/>
		<result column="DISPLAY_NY" property="displayNY"/>
		<result column="EVENT_PASSWORD" property="eventPassword"/>
		<result column="HASH_TAG" property="hashTag"/>
		<result column="DEL_NY" property="delNY"/>
		<result column="REP_NY" property="repNY"/>
		<result column="URL" property="url"/>
		<result column="MAX" property="max"/>
		<result column="MAX_ACCESS" property="maxAccess"/>
		<result column="ADULT_ACCESS" property="adultAccess"/>
		<result column="CATEGORY_NO" property="category"/>
		<result column="CATEGORY_TITLE" property="categoryTitle"/>
		<result column="MEM_NO" property="memNo"/>
		<result column="TABLE_NO" property="tableNo"/>
		<result column="ATTEND_PASSWORD" property="attendPassword"/>
		<result column="FILE_PATH" property="filePath"/>
		<result column="FILE_LEVEL" property="fileLevel"/>
		<result column="THUMBNAIL" property="thumbnail"/>
	</resultMap>
	
	<resultMap id="groupUploadResultset" type="GroupUpload">
		<result column="UPLOAD_NO" property="uploadNo"/>
		<result column="ORIGIN_NAME" property="originName"/>
		<result column="CHANGE_NAME" property="changeName"/>
		<result column="GROUP_BOARD_NO" property="bNo"/>
		<result column="FILE_LEVEL" property="fileLevel"/>
		<result column="FILE_PATH" property="filePath"/>
		<result column="TABLE_NO" property="tableNo"/>
	</resultMap>
	
	<resultMap id="entryListResultset" type="EntryList">
		<result column="GROUP_NO" property="groupNo"/>
		<result column="GROUP_TITLE" property="groupTitle"/>
		<result column="ENTRY_ID" property="entryId"/>
		<result column="WAIT_NY" property="waitNY"/>
		<result column="START_DATE" property="startDate"/>
		<result column="END_DATE" property="endDate"/>
		<result column="MEM_NO" property="memNo"/>
		<result column="TABLE_NO" property="tableNo"/>
	</resultMap>
	
	<select id="selectListCount" resultType="_int">
		select 
		       count(*)
		  from ONLINE_GROUP_ONCE
		 where status = 'Y'
	</select>
	
	<select id="selectListOn" resultMap="onlineGroupOnceResultSet">
		select
		       NO
		     , TITLE
		     , ID
		     , NAME
		     , EMAIL
		     , PHONE
		     , SIMPLE
		     , TO_CHAR(START_DATE, 'YYYY/MM/DD hh:dd') AS "START_DATE"
		     , TO_CHAR(END_DATE, 'YYYY/MM/DD hh:dd') AS "END_DATE"
		     , TO_CHAR(START_ENTER, 'YYYY/MM/DD hh:dd') AS "START_ENTER"
		     , TO_CHAR(END_ENTER, 'YYYY/MM/DD hh:dd') AS "END_ENTER"
		     , CONTENT
		     , ADDRESS
		     , ADDRESS_DETAIL
		     , DISPLAY_NY
			 , EVENT_PASSWORD
			 , HASH_TAG
			 , URL
			 , MAX
			 , MAX_ACCESS
			 , ADULT_ACCESS
			 , CATEGORY_TITLE
			 , MEM_NO
			 , TABLE_NO
			 , ATTEND_PASSWORD
			 , COUNT
             , THUMBNAIL
		  from ONLINE_GROUP_ONCE
		  join category USING (CATEGORY_NO)
		  where status = 'Y'
		    and table_no = #{tableNo}
		 order
		    by NO desc
	</select>
	
	<update id="increaseCount">
		update
		       ONLINE_GROUP_ONCE
		   set count = count + 1
		 where no = #{no}
		   and status = 'Y'
	</update>
	
	<select id="selectDetail" resultMap="onlineGroupOnceResultSet">
		select 
		       NO
		     , TITLE
		     , ID
		     , NAME
		     , EMAIL
		     , PHONE
		     , SIMPLE
		     , START_DATE
		     , END_DATE
		     , START_ENTER
		     , END_ENTER
		     , CONTENT
		     , ADDRESS
		     , ADDRESS_DETAIL
		     , DISPLAY_NY
			 , EVENT_PASSWORD
			 , HASH_TAG
			 , URL
			 , MAX
			 , MAX_ACCESS
			 , ADULT_ACCESS
			 , CATEGORY_TITLE
			 , MEM_NO
			 , TABLE_NO
			 , ATTEND_PASSWORD
			 , COUNT
		  from ONLINE_GROUP_ONCE
          JOIN CATEGORY USING (CATEGORY_NO)
		 where no = #{no}
		 and table_no = #{tableNo}
	</select>
	
	<insert id="insertOnlineGroupOne">
		INSERT
		  INTO ONLINE_GROUP_ONCE
		     (
		       NO
		     , TITLE
		     , ID
		     , NAME
		     , EMAIL
		     , PHONE
		     , SIMPLE
		     , START_DATE
		     , END_DATE
		     , START_ENTER
		     , END_ENTER
		     , CONTENT
		     , ADDRESS
		     , ADDRESS_DETAIL
		     , DISPLAY_NY
			 , EVENT_PASSWORD
			 , HASH_TAG
			 , URL
			 , MAX
			 , MAX_ACCESS
			 , ADULT_ACCESS
			 , CATEGORY_NO
			 , MEM_NO
			 , TABLE_NO
			 , ATTEND_PASSWORD
			 , THUMBNAIL
		     )
		VALUES
		     (
		       SEQ_ON_GROUP_ONCE_NO.NEXTVAL
		     , #{title}
		     , #{id}
		     , #{name}
		     , #{email}
		     , #{phone}
		     , #{simple}
		     , #{startDate}
		     , #{endDate}
		     , #{startEnter}
		     , #{endEnter}
		     , #{content}
		     , #{address}
		     , #{addressDetail}
		     , #{displayNY}
		     , #{eventPassword}
		     , #{hashTag}
		     , #{url}
		     , #{max}
		     , #{maxAccess}
		     , #{adultAccess}
		     , #{category}
		     , #{memNo}
		     , #{tableNo}
		     , #{attendPassword}
		     , #{thumbnail}
		     )
	</insert>
	
	<insert id="insertEntryListSelf">
		INSERT
		  INTO ENTRY_LIST
		     (
		       GROUP_NO
		     , GROUP_TITLE
		     , ENTRY_ID
		     , START_DATE
		     , END_DATE
		     , MEM_NO
		     , TABLE_NO
		     )
		VALUES
		     (
		       SEQ_ON_GROUP_ONCE_NO.CURRVAL
		     , #{title}
		     , #{id}
		     , #{startDate}
		     , #{endDate}
		     , #{memNo}
		     , #{tableNo}
		     )
	</insert>
	
	<insert id="insertGroupOneImg">
		INSERT
		  INTO GROUP_UPLOAD
		     (
		       UPLOAD_NO
		     , ORIGIN_NAME
		     , CHANGE_NAME
		     , GROUP_BOARD_NO
		     , FILE_LEVEL
		     , FILE_PATH
		     , TABLE_NO
		     )
		VALUES
		     (
		       SEQ_UPLOAD.NEXTVAL
		     , #{originName}
		     , #{changeName}
		     , SEQ_ON_GROUP_ONCE_NO.CURRVAL
		     , #{fileLevel}
		     , #{filePath}
		     , #{tableNo}
		     )
	</insert>
	
	<select id="selectAttachmentList" resultMap="onlineGroupOnceResultSet">
		select
		       upload_no
		     , origin_name
		     , change_name
		     , group_board_no
		     , file_level
		     , file_path
		     , table_no
		  from group_upload
		 where group_board_no = #{no}
		   and table_no = #{tableNo}
	</select>
	
	
	
	
	
	
	
	
	
	
</mapper>